/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin:0;
    padding:0;
}
.navbar{
    display:flex;
    background-color: black;
}
.navbar img{
    padding:15px 15px;
    margin-left: 50px;
    height: 30px;
    width: 90px;
}
/* .grow-list{
    display: flex;
} */
.list{
    display: flex;
}
.list-item{
    list-style: none;
    color:white;
    margin-left: 40px;
    padding:20px 15px;

}

.button-small{
    color:white;
    background-color: #8D3DAF;
    margin-top: 10px;
    padding:10px 15px;
    border-radius: 10px;
    margin-left: 550px;
    
}
.hero{
    background-image: url(./assets/bg.png);
   background-size: cover;
   height: 680px;
   display: flex;
   flex-direction: column;

}
/* .hero-heading{
    margin-left: 500px;
    margin-right: 400px;
    margin-top: 100px;
    color: white;
    font-size: 70px;
} */
.hero-heading{
    display: flex;
    margin-top: 120px;
    margin-left: 420px;
    margin-right: 400px;

    text-align: center;
    color: white;
    font-size: 70px;
}
.hero-description{
    margin-top: 10px;
    margin-left: 550px;
    font-size:25px;
    color: white;
}
.button-large{
    margin-top: 40px;
    margin-left: 600px;
    margin-right: 600px;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: #8D3DAF;
    color: white;
    font-size: 25px;
    border: none;
}